<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://127.0.0.1:5000/predict" method="post" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="radio" id="boy" name="sex" value="boy" checked>
    <label for="boy">男孩</label><br>
  
    <input type="radio" id="girl" name="sex" value="girl">
    <label for="girl">女孩</label><br>
    <input type="submit" value="开始检测">
</form>
</body>
</html>